name: MERN CI

on:
  push:
    branches: [main]

jobs:
  mongo-init-test:
    runs-on: ubuntu-latest

    env: 
      PORT: ${{ secrets.PORT }}
      MONGO_URI: ${{ secrets.MONGO_URI }}

    services:
      mongo:
        image: mongo
        ports: ["27017:27017"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24"

      - name: Waiting for mongoDB to be ready
        run: |
          until nc -z localhost 27017; do
            echo "Waitingg for mongoDB..."
            sleep 2
          done
            echo "MongoDB is up"

      - name: Seed MongoDB
        working-directory: ./backend
        run: |
          npm install
          node seedTasksData.js

      - name: Running Backend Tests
        working-directory: ./backend
        run: npm test